<!DOCTYPE html>
<html>
<title>Requests</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/sidenavStyle.css">
<link rel="stylesheet" href="/static/topbarStyle.css">

<style>
table,th,td{
	border:none;
	padding:0px;
	margin:0;
	text-align:center;
}
#temp table{text-align:right;}
#temp td{text-align:right;}


.printedReporthead{display:inline-block;margin:15px;}
@media print {
  body * {
    visibility: hidden;
  }
  #temp, #temp * {
    visibility: visible;
  }
  #temp{
    position: absolute;
    left: 0;
    top: 0;

  }
}
</style>
<body>
  <%-include('sidenav.ejs')%>

<div class="main" id="container">
<section id="content-tab1">
		<%
				var date=new Date(request.createdAt).toLocaleString().split(',');
				var time=date[1];
				date=date[0];
				date=date.split('/');
				date=date[2]+'-'+date[1]+'-'+date[0];
		%>
		<div style="background-color:#173f5f;border-radius:5px;padding:10px;">
			<a class="y" id="tab1-add">Request</a>
		</div>
		<section id="add" class="tabsec">
<div style="text-align:Center;margin:auto;width:99%;" dir="rtl" id="temp">
	<table style="width:100%;padding-bottom:40px;border:2px solid #000;border-collapse:collapse;">
		<tr>
			<%if(request.type=="receive"){%>
			<td colspan="4" style="border:2px solid #000;padding:10px;text-align:center;" id="cashTable"><p style="font-size:25px;"><strong>امر توريد / مطالبة</strong></p></td>
			<%}%>
			<%if(request.type=="payment"){%>
			<td colspan="4" style="border:2px solid #000;padding:10px;text-align:center;" id="cashTable"><p style="font-size:25px;"><strong>اذن صرف</strong></p></td>
			<%}%>
		</tr>
		<tr>
      <%if(request.type=="receive"){%>
        <td colspan="2" style="border:2px solid #000;padding:10px;" id="printClientName"><strong>اسم العميل : </strong>
  			<%=JSON.parse(request.requestBody).clientName%>
  			</td>
      <%}%>
      <%if(request.type=="payment"){%>
        <td colspan="2" style="border:2px solid #000;padding:10px;" id="printClientName"><strong>اسم العميل : </strong>
  			<%=JSON.parse(request.requestBody).supplierName%>
  			</td>
      <%}%>

			<td colspan="2" style="border:2px solid #000;padding:10px;" id="printDate"><strong>التاريخ : </strong>
			<%=date%>
			</td>
		</tr>
		<tr>
			<td colspan="4" style="border:2px solid #000;padding:15px;" id="printAmount"><strong>القيمة الموردة : </strong>
			<%=JSON.parse(request.requestBody).amount%>
			</td>
		</tr>

		<tr>
			<td colspan="4" style="border:2px solid #000;padding:15px;" id="printDescription">
				<strong>البيان و نوع الخدمة : </strong> <%=JSON.parse(request.requestBody).description%>
			</td>
		</tr>
		<tr>
			<td colspan="2" id="printExecutionDate" style="border:2px solid #000;padding:10px;"><strong>تاريخ تنفيذ الخدمة : </strong>
			<%=JSON.parse(request.requestBody).executionDate%>
			</td>
			<td colspan="2" id="printEndDate" style="border:2px solid #000;padding:10px;"><strong>تاريخ نهاية الخدمة: </strong>
			<%=JSON.parse(request.requestBody).endDate%>
			</td>
		</tr>
		<tr>
			<td colspan="2" id="printTotalAmount" style="border:2px solid #000;padding:10px;"><strong>المبلغ الاجمالي : </strong>
			<%=JSON.parse(request.requestBody).totalAmount%>
			</td>
			<td colspan="2" id="printRemainingAmount" style="border:2px solid #000;padding:10px;"><strong>المبلغ المتبقي: </strong>
			<%=JSON.parse(request.requestBody).remainingAmount%>
			</td>
		</tr>
		<tr>
			<td colspan="2" id="printExecutionPrice" style="border:2px solid #000;padding:15px;"><strong>سعر التنفيذ : </strong>
			<%=JSON.parse(request.requestBody).executionPrice%>
			</td>
			<td colspan="2" id="printEmployer" style="border:2px solid #000;padding:15px;"><strong>اسم الموظف : </strong>
			<%=request.employerUserAccount.username%>
			</td>
		</tr>
			<tr>
			<td style="border:2px solid #000;padding:15px;">
				<strong>رقم الطلب : <%=request.id%></strong>
			</td>
		<%if(request.status=="accepted"){%>
				<td colspan="2" id="printExecutionPrice" style="border:2px solid #000;padding:15px;"><strong>اسم المراجع : </strong>
				<%if(request.auditorUserAccount){%>
					<%=request.auditorUserAccount.username%>
				<%}%>
				</td>
		<%}%>
			</tr>

	</table>
</div>
		<div style="text-align:Center;">
		<%if(request.status=="pending"){%>
			<button class="button" onclick="acceptRequest()">Accept</button>
		<%}%>
			<button class="button" onclick="deleteRequest()">Delete</button>
		</div>
		</section>
</section>
</div>




<script src="/static/jquery-min.js"></script>
<script src="/static/frontendlib.js"></script>
<script src="/static/topbarFunction.js"></script>


<!--vainlia javascript-->
<script>
function acceptRequest(){
	var deleteRequestNumber=<%=request.id%>;
	if(window.confirm("Are you sure that you want to accept it ?")){
		ajaxRequest('/api/request/accept',"POST","application/json",{id:deleteRequestNumber,type:"<%=request.type%>"},(res)=>{
			alert(res.responseText);
			location.reload();
		});
	}
	return false;
}


function deleteRequest(){
	var deleteRequestNumber=<%=request.id%>;
	if(window.confirm("Are you sure that you want to delete it ?")){
		ajaxRequest('/api/request',"DELETE","application/json",{id:deleteRequestNumber,type:"<%=request.type%>"},(res)=>{
			alert(res.responseText);
			location.reload();
		});
	}
	return false;
}
</script>
</body>
</html>
